@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}