.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #0070f3;
}

.filters {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  color: #0070f3;
  font-size: 1.25rem;
}

.items {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1rem;
  border-top: 2px solid #eaeaea;
  width: 100%;
  max-width: 800px;
}

.item {
  padding: 1.5rem;
  color: inherit;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  text-align: left;
}

.item:hover,
.item:focus,
.item:active {
  color: #0070f3;
  border-color: #0070f3;
}